$number-of-child-buttons: 5;
$button-primary-background-color: #4183ea;
$button-primary-color: #fff;
$button-space: 70px;
$z-index: 99;

.floating-buttons{
  box-sizing: border-box;
  margin: 1em;
  padding: 0;
  position: fixed;
  white-space: nowrap;
  z-index: $z-index;
  list-style: none;
  display: none;
  ul, li{
    margin: 0;
    padding: 0;
  }
  li{
    list-style: none;
  }
  &.active {
    display: block;
  }
  .floating-button{
    position: relative;
    display: inline-block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    cursor: pointer;
    outline: none;
    padding: 0;
    text-align: center;
    -webkit-user-drag: none;
    background-color: $button-primary-background-color;
    color: $button-primary-color;
    border: none;
    i, span{
      font-size: 18px;
      text-align: center;
      line-height: 56px;

      -webkit-transition: -webkit-transform 150ms cubic-bezier(.4, 0, 1, 1);
      transition: transform 150ms cubic-bezier(.4, 0, 1, 1);
    }
    &:active{
      border-style: none;
    }
    &.disabled{
      i, span {
        -webkit-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
      }
    }
    &.enabled{
      i, span {
        -webkit-transform: scale(1) rotate(45deg);
        transform: scale(1) rotate(45deg);
      }
    }
    .floating-button-icon-plus{
      position: relative;
      margin: auto;
      display: inline-block;
      width: 16px;
      height: 16px;
      &:before{
        background-color: $button-primary-color;
        width: 5px;
        height: 20px;
        border-radius: 1px;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        position: absolute;
        top: -1px;
        left: 6px;
        content: "";
      }
      &:after{
        background-color: $button-primary-color;
        width: 20px;
        height: 5px;
        border-radius: 1px;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        position: absolute;
        top: 6px;
        left: -2px;
        content: "";
      }
    }
  }
  .floating-button-label{
    font-size: 80%;
    display: inline-block;
    color: white;
    background-color: darken(#767676, 20);
    border-radius: 3px;
    padding: 0 5px;
    position: relative;
    height: 21px;
    line-height: 21px;
    &:after{
      content: '';
      position: absolute;
      top: 0;
    }
  }
  .floating-button-wrapper{
    .floating-child-button{
      position: absolute;
      &>label{
        position: absolute;
        top: 15px;
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
        transition: all .5s;
        transition-delay: ($number-of-child-buttons) * 0.05s;
      }
    }

    &.enabled{
      .floating-child-button{
        &>label{
          -webkit-transform: scale(1);
          transform: scale(1);
          opacity: .8;
        }
      }
    }
  }
  .floating-button-backdrop{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    z-index: -1;
  }
  &.top{
    top:0;
    &.active{
      animation: fromTop 1.6s 1;
      -webkit-animation: fromTop 1.6s 1;
    }
    .floating-button-wrapper{
      @for $i from 0 through $number-of-child-buttons {
        $distance: $button-space * $i;
        .floating-child-button:nth-child( #{$i} ) {
          -webkit-transform: translateY($distance) scale(0);
          transform: translateY($distance) scale(0);
          transition: all .5s;
          transition-delay: ( $number-of-child-buttons - $i ) * 0.05s;
        }
      }
      &.enabled{
        @for $i from 1 through $number-of-child-buttons {
          $distance: $button-space * $i;
          .floating-child-button:nth-child( #{$i} ) {
            -webkit-transform: translateY($distance) scale(1);
            transform: translateY($distance) scale(1);
          }
        }
      }
    }
  }
  &.bottom{
    bottom:0;
    &.active{
      animation: fromBottom 1.6s 1;
      -webkit-animation: fromBottom 1.6s 1;
    }
    .floating-button-wrapper{
      @for $i from 0 through $number-of-child-buttons {
        $distance: $button-space * $i * -1;
        .floating-child-button:nth-child( #{$i} ) {
          -webkit-transform: translateY($distance) scale(0);
          transform: translateY($distance) scale(0);
          transition: all .5s;
          transition-delay: ( $number-of-child-buttons - $i ) * 0.05s;
        }
      }
      &.enabled{
        @for $i from 1 through $number-of-child-buttons {
          $distance: $button-space * $i * -1;
          .floating-child-button:nth-child( #{$i} ) {
            -webkit-transform: translateY($distance) scale(1);
            transform: translateY($distance) scale(1);
          }
        }
      }
    }
  }
  &.left{
    left:0;
    .floating-button-label{
      margin-left: 1em;
      &:after{
        border-right: 10px solid darken(#767676, 20);
        border-top: 11px solid transparent;
        border-bottom: 10px solid transparent;
        left: -9px;
      }
    }
    .floating-button-wrapper {
      .floating-child-button {
        left: 0;
        &>label{
          left: 60px;
        }
      }
    }
  }
  &.right{
    right:0;
    .floating-button-label{
      margin-right: 1em;
      &:after{
        border-left: 10px solid darken(#767676, 20);
        border-top: 11px solid transparent;
        border-bottom: 10px solid transparent;
        right: -9px;
      }
    }
    .floating-button-wrapper {
      .floating-child-button {
        right: 0;
        &>label{
          right: 60px;
        }
      }
    }
  }

}

@keyframes fromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2500px);
    transform: translateY(2500px);
  }
  100% {
    opacity: 1;
    -webkit-transform:  translateY(0);
    transform:  translateY(0);
  }
}

@keyframes fromTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2500px);
    transform: translateY(-2500px);
  }
  100% {
    opacity: 1;
    -webkit-transform:  translateY(0);
    transform:  translateY(0);
  }
}
