{{#if active}}
  <div class="floating-button-backdrop" {{action "toggleButtons"}}></div>
{{/if}}
{{#if label}}
  <label class="floating-button-label">{{label}}</label>
{{/if}}
{{yield this.active (action "toggleButtons") (action "showDialog")}}
